<div class="pull-right">
  <%= link_to("Add a hobby", new_hobby_path, :class => "btn btn-default" ) %>
</div>
<table class="table table-boldered">
  <% @hobbies.each do |hobby| %>
  <tr>
    <td>
      <%= link_to(hobby.title, hobby_path(hobby)) %>
    </td>
    <td>
      <% if hobby.image.present? %>
          <%= image_tag(hobby.image.thumb.url, class: "thumbnail") %>
      <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
      <% end %>
    </td>
    <td>
      <%= link_to("Up", move_up_hobby_path(hobby), :method => :post) %>
      |
      <%= link_to("Down", move_down_hobby_path(hobby), :method => :post) %>
      |
      <%= link_to("Destroy", hobby_path(hobby), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
    <td>
      <%= hobby.created_at %>
    </td>
  </tr>
  <% end %>
</table>
