<h2>Admin Edit</h2>

<%= simple_form_for [:admin, @user] do |f| %>

<%= f.input :nickname %>
<%= f.input :email %>
<%= f.input :is_admin %>
<%#= f.association :hobbies %>
<%= f.select :hobby_ids, Hobby.all.map{ |h| [h.title, h.id] }, {}, {:multiple => true, :class => "form-control"} %>
<%= f.submit "Submit"%>
<% end %>

<%= link_to "Back", :back %>

<script>
  $("#user_hobby_ids").select2()
</script>
