<script src="https://cdn.bootcss.com/Chart.js/2.6.0/Chart.bundle.min.js"></script>

<canvas id="myChart" width="60" height="60"></canvas>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: <%= raw @dates.to_json %>,
        datasets: [{
            label: 'New Regiter Users',
            data: <%= raw @data.to_json %>,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>


<div class="group">
<%= form_tag admin_users_path, :method => :get do %>
选择兴趣
<%= select_tag :hobbies_ids, options_for_select(Hobby.all.map{ |c| [c.title, c.id] }, params[:hobbies_ids]), :multiple => true , :class => "form-control" %>
<%= submit_tag "Submit" %>
<% end %>
</div>
<div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      排序 <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
            <%= link_to("按照用户名排序", admin_users_path(:order => "username")) %>
        </li>
        <li>
            <%= link_to("按照用户名倒排", admin_users_path(:order => "username_rev")) %>
        </li>
        <li>
          <%= link_to("按照创建时间排序", admin_users_path ) %>
        </li>
    </ul>
</div>
 <table class="table table-boldered">
   <thead>
        <tr>
            <td>用户名</td>
            <td>创建时间</td>
        </tr>
    </thead>
  <tbody>
  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.nickname %>
    </td>
    <td>
      <%= user.created_at %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_user_path(user)) %>
      <%= link_to("Delete", admin_user_path(user), method: :delete, data: {confirm: "Are you sure?"}) %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @users %>
</div>
<script>
  $("#hobbies_ids").select2();
</script>
